<div role="navigation" class="navbar-default navbar-splash navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/splash" class="navbar-brand">Funpager</a>
    </div>

    <div class="navbar-inner">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="<%= session_url %>" method="POST">
            <input
              type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
            <input
              type="hidden"
              name="user[username]"
              value="demo_user">
            <input
              type="hidden"
              name="user[password]"
              value="demo">
            <input type="submit" class="btn navbar-btn btn-primary" value="Start Building">
          </form>
        <li><%= button_to "Sign Up", new_user_url,
              class: 'btn navbar-btn btn-clear', method: :get %>
        <li><%= button_to "Sign In", new_session_url,
              class: 'btn navbar-btn btn-clear', method: :get %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="container padded-flash-container">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <div class="alert alert-warning">
          <%= error %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>