<%= render 'static_pages/splash_nav' %>

<div class="row">
  <section class="splash_intro">
    <div class="container">
      <div class="bobbylong preview"></div>
      <div class="zachandmiri preview"></div>
      <div class="twindonuts preview"></div>

      <h1 class="tagline splash-intro-h1">Build a beautiful simple website <br>for your anything.</h1>

      <h3 class='sub-tagline'>sign up to save and share (above) / take a test run (below)</h3>


  </section>
</div>

<div class="row">
  <section class="splash_explore">
    <div class="bobbylong-button">

      <form action="<%= session_url %>" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input
          type="hidden"
          name="user[username]"
          value="demo_user">
        <input
          type="hidden"
          name="user[password]"
          value="demo">
        <input
          type="hidden"
          name="demopage"
          value="bobbylong">
        <input type="submit" class="lets-rock btn" value="let's go">
      </form>
    </div>

    <div class="twindonuts-button">
      <form action="<%= session_url %>" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input
          type="hidden"
          name="user[username]"
          value="demo_user">
        <input
          type="hidden"
          name="user[password]"
          value="demo">
        <input
          type="hidden"
          name="demopage"
          value="twindonuts">
        <input type="submit" class="lets-eat btn" value="let's go">
      </form>
    </div>

    <div class="zachandmiri-button">
      <form action="<%= session_url %>" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input
          type="hidden"
          name="user[username]"
          value="demo_user">
        <input
          type="hidden"
          name="user[password]"
          value="demo">
        <input
          type="hidden"
          name="demopage"
          value="zachandmiri">
        <input type="submit" class="lets-tie-the-knot btn" value="let's go">
      </form>
    </div>

  </section>
</div>


<div class="row">
  <section class="splash_examples">
    Or check out these popular pages:
    <% @top_pages_by_hit_count.each do |page| %>
      <a href="<%= page_url(page) %>" target="_blank"><%= page.title %></a>
    <% end %>
  </section>
</div>


<div class="row">
  <section class="splash_outro">

  </section>
</div>