<%= form_for page do |f| %>
  <%# f.error_messages %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <%= f.fields_for :widgets do |builder| %>
    <%= render 'widget', f: builder %>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>