<h2>Create a page</h2>

<form action="<%= pages_url %>" method="POST" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>What is your page called?
    <input type="text" name="page[title]" value="<%= @page.title %>">
  </label>

  Widgets:
  <select name="widgets[1][type]">
    <option value="">select widget 1 type</option>
    <% Widget::TYPES.each do |type| %>
    <option value="<%= type %>"><%= type %></option>
    <% end %>
  </select>

  <select name="widgets[2][type]">
    <option value="">select widget 2 type</option>
    <% Widget::TYPES.each do |type| %>
    <option value="<%= type %>"><%= type %></option>
    <% end %>
  </select>

  <select name="widgets[3][type]">
    <option value="">select widget type</option>
    <% Widget::TYPES.each do |type| %>
    <option value="<%= type %>"><%= type %></option>
    <% end %>
  </select>


  <button>Create Page</button>
</form>