<body class="<%= @page.theme %>">

<script type="text/javascript">
    $(function() {
        window.document.title = "<%= @page.company %>";
        $('body').attr("class", "<%= 'theme--' + @page.theme %>");
    });
</script>

<div class="page-content">
    <ul class="widgets">
        <% @widgets.each do |widget| %>
            <li class="widget">
                <div class="widget_fields">

                    <% if widget.name == "Button" %>
                        <% title = widget.fields.sort.first.content %>
                        <% url = widget.fields.sort.last.content %>
                        <a href="<%= url %>"" target="_blank">🔗 - <%= title %></a>

                    <% else %>

                        <% widget.fields.sort.each_with_index do |field, idx| %>
                            <% if field.tag == 'img' %>
                                <% if field.image_file_name %>
                                    <img class="inline-image"
                                        src="<%= field.image.url(:inline) %>">
                                    <p class="caption"><%= field.content %></p>
                                <% end %>
                            <% else %>
                                <% if field.content != '' %>
                                    <<%= field.tag %>><%= field.content.gsub(/\r\n/, '<br><br>').html_safe %></<%= field.tag %>>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </li>
        <% end %>
    </ul>
    <p class="copyright">&copy; 2017 <%= @page.company %></p>
</div>

</body>