<body class="<%= @page.theme %>">

<script type="text/javascript">
    $(function() {
        window.document.title = "<%= @page.company %>";
        $('body').attr("class", "<%= 'theme--' + @page.theme %>");
    });
</script>

<div class="page-content">
    <ul class="widgets">
        <% @widgets.each do |widget| %>
            <li class="widget">
                <div class="widget_fields">

                    <% if widget.name == "Button" %>
                        <% title = widget.fields.sort.first.content %>
                        <% url = widget.fields.sort.last.content %>
                        <a href="<%= url %>"" target="_blank">🔗 - <%= title %></a>

                    <% elsif widget.name == "Image" %>
                        <% title_field = widget.fields.sort.first %>
                        <% if title_field.content != '' %>
                            <<%= title_field.tag %>><%= title_field.content.gsub(/\r\n/, '<br><br>').html_safe %></<%= title_field.tag %>>
                        <% end %>

                        <% image_field = widget.fields.sort.last %>
                        <% caption_field = widget.fields.sort.second %>
                        <% if image_field.image_file_name %>
                            <img class="inline-image"
                                src="<%= image_field.image.url(:inline) %>">
                            <% if caption_field.content != '' %>
                                <p class="caption"><%= caption_field.content %></p>
                            <% end %>
                        <% end %>

                    <% else %>
                        <% widget.fields.sort.each_with_index do |field, idx| %>
                            <% if field.content != '' %>
                                <<%= field.tag %>><%= field.content.gsub(/\r\n/, '<br><br>').html_safe %></<%= field.tag %>>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </li>
        <% end %>
    </ul>
    <p class="copyright">&copy; 2017 <%= @page.company %></p>
</div>

</body>