<div id='form-group' data-index="<%= field_index %>">
  <input
    type="hidden"
    name="widget[fields_attributes][<%= field_index %>][label]"
    value="<%= field.get('label') %>">

  <input type="hidden"
    name="widget[fields_attributes][<%= field_index %>][content_type]"
    value="<%= field.get('content_type') %>">

  <label>
    <%= field.get('label') %>
    <input
      class="form-control"
      placeholder="<%= field.get('placeholder') %>"
      type="<%= field.escape('content_type') %>"
      name="widget[fields_attributes][<%= field_index %>][content]"
      value="<%= field.escape('content') %>">
  </label>
</div>