<% var glyph; %>
<% if( widget.get('name') === 'Text') { glyph = 'glyphicon-font' }; %>
<% if( widget.get('name') === 'Headline') {glyph = 'glyphicon-header' }; %>
<% if( widget.get('name') === 'Contact') {glyph = 'glyphicon-envelope' }; %>
<% if( widget.get('name') === 'Social') {glyph = 'glyphicon-comment' }; %>

<li id="newForm">
  <form class="form widget-form <%= newOrEdit %>">

    <div class="form-header">
      <h4><span class="glyphicon <%= glyph %>"></span> <%= widget.get('name') %></h4>
    </div>

    <div class="form-fields">

      <input type="hidden" name="widget[page_id]" value="<%= page_id %>">
      <input type="hidden" name="widget[rank]" value="<%= rank %>">
      <input type="hidden" name="widget[name]" value="<%= widget.get('name') %>">

      <% widget.fields().each(function(field, field_index) { %>

          <div id='form-group'>
            <input
              type="hidden"
              name="widget[fields_attributes][<%= field_index %>][label]"
              value="<%= field.get('label') %>">
            <input
              type="hidden"
              name="widget[fields_attributes][<%= field_index %>][placeholder]"
              value="<%= field.get('placeholder') %>">

            <% if(field.id) { %>
              <input
                type="hidden"
                name="widget[fields_attributes][<%= field_index %>][id]"
                value="<%= field.id %>">
            <% } %>

            <input type="hidden"
              name="widget[fields_attributes][<%= field_index %>][content_type]"
              value="<%= field.get('content_type') %>">

            <% if(field.get('content_type') == 'textarea') { %>
              <label>
                <%= field.get('label') %>
              </label>
              <textarea
                class="form-control"
                name="widget[fields_attributes][<%= field_index %>][content]"><%= field.escape('content') %></textarea>
            <% } else { %>
              <label>
                <%= field.get('label') %>
                <input
                  class="form-control"
                  placeholder="<%= field.get('placeholder') %>"
                  type="<%= field.escape('content_type') %>"
                  name="widget[fields_attributes][<%= field_index %>][content]"
                  value="<%= field.escape('content') %>">
              </label>
            <% } %>

          </div>
      <% }) %>
    </div>

    <div class="form-footer">
      <% if(newOrEdit === 'edit' && widget.get('name') !== 'Headline') { %>
        <a class="btn btn-danger btn-sm trash" data-id="<%= widget.id %>" href="#">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      <% } %>

      <a href="#" class='cancel'>Cancel</a>
      <button class="btn btn-primary">Done</button>
    </div>

  </form>
</li>