<div class='widget-fields'>
  <span class="click-to-edit">Click to edit</span>

  <% widget.fields().sort().each(function(field) { %>
    <div class='id'>ID: <%= field.id %></div> <!-- debugging -->

    <% if(field.get('content') !== '') { %> <!-- ignore if no content -->
      <% if(field.escape('tag') === 'a') { %>
        <!-- format label -->
        <% var label = field.escape('label') %>
        <% var socialIcon = label.toLowerCase().substring(0, label.length - 1) %>
        <a class='social-link <%= socialIcon %>' href='<%= field.escape('content') %>' target="_blank"></a>
      <% } else { %>
        <<%= field.escape('tag')%>><%= field.escape('content') %></<%= field.escape('tag') %>>
      <% } %>
    <% } %>
  <% }) %>
</div>