<div class="widget-fields">
  <span class="click-to-edit">Click to edit</span>

  <% widget.fields().sort().each(function(field) { %>
    <% if(field.get('content') !== '') { %> <!-- ignore if no content -->
      <% if(field.escape('tag') === 'img') { %>
        <!-- format picture -->
        <img class="inline-image"
          src='<%= field.get('inline_url') %>'>
          <p class="caption"><%= field.escape('content') %></p>
      <% } else { %>
        <<%= field.escape('tag')%>><%= field.escape('content') %></<%= field.escape('tag') %>>
      <% } %>
    <% } %>
  <% }) %>
</div>